/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Typogrpahy */
html {font-size: 100%;} /*16px*/

body {
  background:#f3f3f5;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
  background-color: #d8d8d8;
opacity: 1;
background-image:  linear-gradient(30deg, #bfbfbf 12%, transparent 12.5%, transparent 87%, #bfbfbf 87.5%, #bfbfbf), linear-gradient(150deg, #bfbfbf 12%, transparent 12.5%, transparent 87%, #bfbfbf 87.5%, #bfbfbf), linear-gradient(30deg, #bfbfbf 12%, transparent 12.5%, transparent 87%, #bfbfbf 87.5%, #bfbfbf), linear-gradient(150deg, #bfbfbf 12%, transparent 12.5%, transparent 87%, #bfbfbf 87.5%, #bfbfbf), linear-gradient(60deg, #bfbfbf77 25%, transparent 25.5%, transparent 75%, #bfbfbf77 75%, #bfbfbf77), linear-gradient(60deg, #bfbfbf77 25%, transparent 25.5%, transparent 75%, #bfbfbf77 75%, #bfbfbf77);
background-size: 52px 91px;
background-position: 0 0, 0 0, 26px 46px, 26px 46px, 0 0, 26px 46px;
}

@font-face { font-family: grizzly; src: url('/fonts/Grizzly-Attack.ttf'); } 

p {margin-bottom: 1rem;}

.big-txt {
    font-family: grizzly;
    font-size: 13em;
    mix-blend-mode: difference;
    filter: invert(1);
}
h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {font-size: 3.157rem;}

h3 {font-size: 2.369rem;}

h4 {font-size: 1.777rem;}

h5 {font-size: 1.333rem;}

small, .text_small {font-size: 0.75rem;}
/* END TYPOGRAPHY */

/* Global styles */
.btn {
    padding: 8px 16px;
    color: #363636;
    text-decoration: none;
}
.btn-primary {
    background-color: #ff6347;
    color: white;
    border-radius: 30px;
    padding: 16px 32px;
    margin-top: 2em;
}
section, header {
    background-color: #f3f3f5;
}
.wrapper {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 3em;
}
.d-flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.h-center {
    align-items: center
}
.active {
    color: #363636;
}
#line {
    border-left:2px solid #e0e0e0;
    height: 40px;
    margin: 0 1em;
}
/* END Global styles */

/* Main styles */
header {
    border-radius:30px 30px 0 0;
    margin: 4em auto 0;
    width: 90%;
    max-width: 1400px;
    padding: 3em;
}
nav a {
    margin: 0 0.5em;
    color: #cfcfcf;
}
.logo {
    width: 4em;
}
.hero {
    position: relative;
}
.user-id img{
    width: 50px;
	height: 50px;
	background-color: burlywood;
    clip-path: circle(50% at 50% 50%);
}
.hero img {
    transform: rotate(333deg);
    margin: auto;
}

.hero .big-txt {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.hero-copy {
    position: absolute;
    right: 10%;
    bottom: 10%;
}
.hero-copy h4 {
    margin-bottom: 0;
    font-weight: 600;
}
.hero-copy p {
    margin-bottom: 2em;
}
.color-picker h6 {
    margin-right:2em;
}
.color-picker input {
    border: none;
    height: 27px;
    width: 27px;
}
input[name="red"]:after {
    background-color: tomato;
}
#header {
  margin-top:0;
}
.shop {
  padding: 4em 0 0 0;
  background:linear-gradient(rgb(52 52 52 / 92%), rgba(0, 0, 0, 85%)), url(https://images.unsplash.com/photo-1576491110919-df70d852860f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}


.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchQueryInput {
  width: 100%;
    height: 2.8rem;
    background: rgb(0 0 0 / 0%);
    outline: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
    border: 1px solid white;
    color: white;
}
::-webkit-input-placeholder {
  color: white;
}
#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}
.shopper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.shop-grid {
  background-color: #f3f3f5;
}
.side-nav {
  flex-direction: column;
}
.side-nav a {
  text-decoration: none;
  color: #696969;
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 1em 0;
  padding: 0 1em;
  font-weight: 700;
}
.side-nav .loaded {
  color: white;
  letter-spacing: 12px;
  font-size: 1.4em;
  margin: 1.5em 0 ;
}
.side-nav a:hover:before {
  content: '\2013  ';
  transition: 0.2s;
}
.side-nav a:hover {
  color: white;
  transition: 0.5s;
}
.side-nav a.loaded::after {
  content: none;
}
/* END Main styles */

/* RESPONSIVE */
@media only screen and (max-width: 600px) {
  nav {
    justify-content: space-between;
    width: 100%;
  }
  header {
    margin: 1em auto 0;
    padding: 1em;
  }
  .wrapper {
    padding: 1em;
  }
  .sec-nav, #line {
    display: none;
  }
  .big-txt {
    font-size: 3.5em;
  }
  .hero {
    height: 80vh;
  }
  .hero .big-txt {
    top: 19%;
}
  .hero-copy {
    position: relative;
    right: 0;
    bottom: 0;
  }
  .hero-copy p {
    margin-bottom: 16px;
  }
  .hero-copy h4 {
    font-size: 24px;
  }
  .btn-primary {
    padding: 8px 16px;
  }
}